{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <div class="flex mb-6">
        <a class="block" href="{{ path('team_show', {'id': team.id}) }}">
            <svg class="h-8 w-8 fill-current text-grey flex-no-grow"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20">
                <path d="M7.05 9.293L6.343 10 12 15.657l1.414-1.414L9.172 10l4.242-4.243L12 4.343z"/>
            </svg>
        </a>
        <div class="flex-grow text-center align-middle">
            <h1 class="text-blue-light -ml-4">Historique</h1>
        </div>
    </div>

    {% for operation in operations %}
        <a class="block" href="{{ path('operation_show', {'id': operation.id}) }}">
            <div class="history-line">
                <div>
                    <p>{{ operation.name }} | <span class="text-sm">{{ operation.resource }}</span></p>
                    <p class="history-author">Fait par {{ operation.createdBy.firstName }} {{ operation.createdBy.lastName|upper }}
                </div>
                <p class="font-bold">{{ operation.quantity }} h</p>
            </div>
        </a>
    {% else %}
        <div class="alert alert-notice">
            <p >Pas d'opérations trouvées.</p>
        </div>
    {% endfor %}
{% endblock %}
